body{
    background: #E5E5E5;
}
.header{
    width: 1440px;
    height: 80px;
    margin: 100px auto;
    background: #181511;
}
.container{
    width: 1240px;
    height: 79px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    list-style: none;
    display: flex;
}
li{
    margin-left: 42px;
    font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 24px;
/* identical to box height, or 218% */

text-transform: uppercase;

color: #ACA592;
}
.li1{
    font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 24px;
/* identical to box height, or 218% */

text-transform: uppercase;

color: #FFAE2B;
}
.li2{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 127% */
    
    
    color: #FFAE2B;
}
.btn1{
    display: inline-block;
    padding: 8px 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    /* identical to box height, or 200% */
    
    text-align: center;
    text-transform: uppercase;
    
    color: #FFAE2B;
    background: #181511;
    border: 1px solid #FFAE2B;
}
/* banner */
.banner{
    width: 1440px;
    height: 602px;
    margin: 100px auto;
    background-image: url(1.png);
    margin-top: -100px;
    text-align: center;

}
.container1{
    padding-top: 100px;
    width: 1200px;
    height: 302px;
    margin-left: 120px;
}
.p1{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    /* identical to box height, or 183% */
    
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    
    color: #FFAE2B;
    
}
.h1{
    margin-top: -10px;
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    /* or 114% */
    
    text-align: center;
    letter-spacing: 1px;
    
    color: #FFFFFF;
}
.btn2{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    /* identical to box height, or 200% */
    
    text-align: center;
    text-transform: uppercase;
    
    color: #181511;
    background: #FFAE2B;
    border-radius: 0px;
    padding: 8px 15px;
    border: 1px solid #FFAE2B;
}
/* flex */
.flex{
    width: 1440px;
    height: 2800px;
    background: #181511;
    margin: 100px auto;
    margin-top: -100px;
    text-align: center;
}
.p2{
    font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 22px;
/* identical to box height, or 183% */

text-align: center;
letter-spacing: 2px;
text-transform: uppercase;

color: #ACA592;
}
.h2{
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    /* identical to box height, or 117% */
    
    text-align: center;
    
    color: #FFAE2B;
}
.container3{
    width: 1200px;
    height: 2490px;
    margin-left: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box2{
    width: 387px;
    height: 315px;
    border: 1px solid #4B4136 ;
    
}
.p3{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    /* identical to box height, or 177% */
    
    letter-spacing: 2px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.banner2{
    width: 1440px;
    height: 462px;
    background-image: url(11.png);
    background-size: cover;
    background-position: bottom center;
    margin: 0 auto;
    margin-top: -100px;
}
.web{
    width: 1440px;
    height: 752px;
    background-color: #181511;
    margin: 0 auto;
}
.container5{
    width: 1200px;
    height: 512px;
    text-align: center;
    margin: 0 auto;
    padding-top: 120px;
}
.p4{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    /* identical to box height, or 183% */
    
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    
    color: #ACA592;
}
.h22{
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    /* identical to box height, or 117% */
    
    text-align: center;
    
    color: #FFAE2B;
}
.flex2{
    text-align: left;
    display: flex;
    justify-content: space-around;
}
.box3{
    padding: 20px;
    width: 400px;
    height: 300px;
    border: #4B4136 solid 1px;
}
.p5{
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 40px;
    /* identical to box height, or 138% */
    
    
    color: #FFAE2B;
}
.p6{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    /* identical to box height, or 173% */
    
    
    color: #ACA592;
    
}
.box4{
    margin-top: 5px;
}
.box5{
    margin-top: 13px;
}
.position{
    width: 1440px;
    height: 282px;
    background-color: #181511;
    margin: 0 auto;
}
.container6{
    width: 1200px;
    height: 282px;
    margin: 0 auto;
    display: flex;
}
.box7{
    width: 217px;
    height: 240px;
    background-image: url(6.png);
}
.box8{
    background-image: url(7.png);
}
.box9{
    width: 200px;
    height: 200px;
    background-image: url(15.png);
    margin-left: 75px;
}
.box10{
    background-image: url(8.png);
}
.box11{
    background-image: url(9.png);
}
.div{
    width: 350px;
    height: 200px;
    text-align: center;
}
.p10{
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    /* identical to box height, or 125% */
    
    
    color: #FFAE2B;
}
.btn7{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    /* identical to box height, or 200% */
    
    text-align: center;
    text-transform: uppercase;
    
    color: #181511;
    padding: 8px 13px;
    background: #FFAE2B;
    border-radius: 0px;
    border: none;
}
/* sub */
.sub{
    padding-top: 5px;
    width: 1440px;
    height: 850px;
    margin: 0 auto;
    background-color: #181511;
    text-align: center;
}
.container8{
    width: 1200px;
    height: 644px;
    margin: 0 auto;
}
.res{
    width: 420px;
    height: 59px;
    border: 1px solid #4B4136;
    box-sizing: border-box;
    border-radius: 0px;
    background: #181511;
    margin-left: 390px;
}
.res2{
    width: 420px;
height: 50px;
background: #FFAE2B;
border-radius: 0px;
margin-left: 390px;
}
.h12{
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    /* or 117% */
    
    text-align: center;
    
    color: #FFAE2B;
}
.p20{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    /* identical to box height, or 233% */
    
    text-align: center;
    
    color: #ACA592;
}
.p99{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    text-align: center;
    
    color: #ACA592;
}
span{
    color: #FFAE2B;
}
hr{
    background: #4B4136;
    width: 1200px;
    height: 1px;
    border: none;
}
.box100{
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box101{
    display: flex;
}
.p100{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    /* identical to box height, or 183% */
    
    
    color: #ACA592;
}
.sp1{
    background: #4B4136;
    color: #4B4136;
}
.img99{
    margin-left:90px;
    margin-top: -34px;

}